@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Quicksand:wght@700&display=swap');

body{
    background-color: #4FA3B6;
    font-size: 90%;
}
:root{
    --title_font: 'Nosifer', cursive;
    --text-font: 'Quicksand', sans-serif;;
}

header{
    height: 100px;
    width: 100%;
    background-color: #096D93;
    position: relative;
    margin-bottom: 5vh;
}
header > div{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div > a{
    position: absolute;
    width: 70px;
    top: 20%;
    left: 10px;
}
h1{
    font-family: var(--title_font);
    color: white;
    text-align: center;
    font-size: 2em;
}
header nav{
    width: 100%;
    height: 30px;
    background-color: #0e4259;
}
header ul{
    height: 100%;
    display: flex;
    justify-content: center;
}
header nav ul li{
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav ul li:hover{
    background-color: rgba(79, 163,182, 0.5);
}
header nav ul li img{
    width: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(103%) contrast(103%);
}


main{
    width: 85%;
    margin: auto;
}
.prevision_cards{
    font-family: var(--text-font);
    width: 100%;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 10vh;
}
#prevision{
    font-size: 1.6em;
    margin-bottom: 20px;
}
#prevision::after{
    content: ' 8 jours';
}
.cards{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.cards article{
    height: 150px;
    width: 48%;
    background-color: white;
    box-shadow: 0 2px 21px 0px rgb(14 66 89 /45%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
main aside{
    background-color: white;
    color: black;
    font-size: 1em;
    width: 25%;
    height: 679px;
    float: right;
    top: 0;
    box-shadow: 0 2px 21px 0px rgb(14 66 89 /45%);
    text-transform: uppercase;
    border-radius: 10px;
}
.prevision_cards nav{
    height: 100%;
}
.prevision_cards nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
}
.prevision_cards nav ul li{
   display: flex;
   align-items: center;
   gap: 5px;
   padding: 7px 2px;
   border-radius: 10px;
}
.prevision_cards nav ul li:hover{
    background-color: rgba(79, 163, 182,0.5);
}
.prevision_cards nav ul li img{
    width: 17px;
    filter: brightness(0) saturate(100%) invert(57%) sepia(45%) saturate(459%) hue-rotate(144deg) brightness(94%) contrast(87%);
}
.cards article h3,.cards article p{
    font-size: 1em;
}
.cards :nth-child(9),.cards :nth-child(10){
    display: none;
}
.cards article img{
    width: 80px;
    margin: auto;
}
.cards article div span{
    font-size: 1em;
}
.cards article div span::after{
    content: "°";
    position: relative;
    top: -2px;
    right: -2px;
    font-size: 0.8em;
}
#span_red{
    color: red;
}
#span_blue{
    color: #4FA3B6;
}
.gal_image_form{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 5vh;
}

.gal_image_form > div{
    width: 47%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.gal_image_form > div img{
    object-fit: cover;
    height: 80px;
    width: 48%;
    box-shadow: 0 2px 21px 0px rgb(14 66 89 /45%);
}
main form{
    font-size: var(--text-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 47%;
    box-shadow: 0 2px 21px 0px rgb(14 66 89 /45%);
    border-radius: 10px;
    padding-top: 40px;
    gap: 15px;
}
main form p, main form h3{
    text-align: center;
    margin-bottom: 15px;
}
main form input{
    width: 90%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 21px 0px rgb(14 66 89 /45%);
    padding: 5px 10px;
}
main form button{
    width: 90%;
    border: none;
    background-color: #4FA3B6;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 2px 21px 0px rgb(14 66 89 /45%);
}
footer{
    background-color: #096D93;
    color: white;
    font-family: var(--title_font);
    text-align: center;
}
footer p{
    padding: 20px;
}
hr{
    display: none;
}
table{
    display: none;
}
.tab_img_responsive{
    display: none;
}

@media screen and (min-width: 1200px) {
    body {
      font-size: 100%;
    }
    hr{
        box-shadow: 0 2px 21px 0px rgb(14 66 89 /45%);
        border: none;
        display: block;
        height: 400px;
        width: 100%;
        background: url(assets/img/beach-1852945_1920.jpg) no-repeat fixed;
        background-size: cover;
        margin-bottom: 10vh;
    }
    .cards{
        gap: 17px;
        margin-bottom: 10vh;
    }
    .cards article{
        width: 18%;
    }
    .cards :nth-child(9),.cards :nth-child(10){
        display: block;
    }
    main aside{
        height: 369px;
    }
    .prevision_cards nav ul{
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 5px 10px;
        font-size: 0.8em;
    }
    .tab_img_responsive{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 200px;
        margin-bottom: 10vh;
    }
    table{
        display: block;
        background-color: aliceblue;
        width: 25%;
        height: 200px;
        font-family: var(--text-font);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    table caption{
        width: 100%;
        color: #096D93;
        padding: 10px;
    }
    table thead{
        font-size: 1.4em;
    }
    
    .max_deg{
        color: red;
    }
    .min_deg{
        color: #4FA3B6;
    }
    .tab_img_responsive img{
        width: 70%;
    }
  }
